<div class="container">
	<div class="actions">
		<button mat-icon-button>
			<mat-icon>note_add</mat-icon>
		</button>
		<button mat-icon-button (click)="onAddNewFolder()">
			<mat-icon>create_new_folder</mat-icon>
		</button>
	</div>
	<mat-list class="folder-container">
		<mat-list-item class="folder-item" *ngFor="let folder of folders">
			<app-folder-item
				[data]="folder"
				(onEditFolder)="onEditFolder($event)"
				(onDelete)="onDeleteItem($event)"
			></app-folder-item>
		</mat-list-item>
	</mat-list>

	<mat-list class="folder-container">
		<mat-list-item class="folder-item" *ngFor="let quiz of quizzes">
			<app-folder-item
				[isFile]="true"
				[data]="quiz"
				(onEditFile)="onEditQuiz($event)"
				(onDelete)="onDeleteItem($event)"
			></app-folder-item>
		</mat-list-item>
	</mat-list>
</div>
