ul {
	list-style-type: none;
}

li {
	white-space: nowrap;
	overflow: hidden;
	max-width: fit-content;
	text-overflow: ellipsis;
	margin-left: -50px;
}

.item {
	cursor: pointer;
}

.item-text {
	display: flex;
	align-items: center;
	width: fit-content;
	height: fit-content;
}

.item-text.active {
	background-color: #e0e0e0;
	padding-right: 5px;
}


.folder-name {
	display: flex;
	align-items: center;
}

.subfolders {
	margin-left: 20px;
}
