<div class="folder-container">
	<ul>
		<ng-container *ngFor="let folder of folders">
			<li>
				<div class="item">
					<span
						class="item-text"
						[class.active]="selectedFolderId === folder.id"
					>
						<mat-icon
							class="arrow"
							(click)="loadChildNodes(folder)"
							>{{
								folder.isExpand
									? 'keyboard_arrow_down'
									: 'keyboard_arrow_right'
							}}</mat-icon
						>
						<div
							class="folder-name"
							(click)="onSelectFolder(folder)"
							[matMenuTriggerFor]="contextMenu"
							(contextmenu)="onRightClick($event)"
							(mousedown)="$event.preventDefault()"
						>
							<mat-icon class="arrow">{{
								folder.isExpand ? 'folder_open' : 'folder'
							}}</mat-icon>
							{{ folder.name }}
						</div>
					</span>
					<div *ngIf="folder.isExpand" class="subfolders">
						<app-folder [folders]="folder.subfolders!"></app-folder>
					</div>
				</div>
			</li>
		</ng-container>
	</ul>
</div>

<mat-menu #contextMenu="matMenu">
	<ng-template matMenuContent>
		<button mat-menu-item (click)="onMenuItemClicked('open')">Open</button>
		<button mat-menu-item (click)="onMenuItemClicked('delete')">
			Delete
		</button>
		<!-- Add more menu items as needed -->
	</ng-template>
</mat-menu>
