@if (folder) {
<mat-card class="folder-item">
	<mat-card-content class="folder-content">
		<mat-card-title (click)="open()">
			<div class="folder-name">
				<mat-icon>folder</mat-icon>&nbsp;
				<span>
					{{ folder.name }}
				</span>
			</div>
		</mat-card-title>
		<mat-card-actions>
			<div>
				<button mat-icon-button [matMenuTriggerFor]="menu">
					<mat-icon> more_vert </mat-icon>
				</button>
			</div>
		</mat-card-actions>
	</mat-card-content>
</mat-card>
<mat-menu #menu="matMenu">
	<button mat-menu-item (click)="edit()">Rename</button>
	<button mat-menu-item (click)="delete()">Delete</button>
</mat-menu>
}
