.container {
  display: grid;
  grid-template-columns: min-content min-content;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  height: 100%;
  width: 100%;
}

.navigation-card {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  text-align: center;
  line-height: 400px;
}