.container {
	display: flex;
	flex-direction: column;
}

.question__header {
	display: flex;
	justify-content: space-between;
}

.question__name {
	width: 75%
}

.question {
	width: 75%;
}

.question-type {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
}

.question-item {
	width: 100%;
	margin-top: 50px;
}
