<div class="container">
	<form [formGroup]="questionForm" class="question-form">
		<div class="question-editor">
			@if (question.isEditting) {
			<div class="editor-container">
				<div>{{ question.orderId }}.&nbsp;&nbsp;</div>

				<div class="editor">
					<ngx-editor-menu *ngIf="isShowEditor" [editor]="editor">
					</ngx-editor-menu>
					<ngx-editor
						[editor]="editor"
						formControlName="content"
						[(ngModel)]="question.content"
						[placeholder]="'Type here...'"
						(focusIn)="onToggleEditor()"
						(focusOut)="onToggleEditor()"
					></ngx-editor>
				</div>
			</div>
			} @else {
			<div class="editor__text">
				<h3 class="mat-display">{{ question.orderId }}. &nbsp;</h3>
				<h3 class="mat-display" [innerHTML]="question.content"></h3>
			</div>
			}
		</div>
		<div class="answers">
			<mat-radio-group
				formControlName="correctAnswer"
				[(ngModel)]="question.correctAnswer"
			>
				<mat-radio-button value="True">True</mat-radio-button>
				<mat-radio-button value="False">False</mat-radio-button>
			</mat-radio-group>
		</div>
	</form>
</div>
