
.editor-container {
  width: 100%;
  display: flex;
}

.editor {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.editor__text {
  display: flex;
  flex-direction: row;
}

.answers {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-left: 10px;
}

.actions {
  display: flex;
  flex-direction: column;
}
