<div class="question-container">
	<div class="question">
		<ng-container [ngSwitch]="question.type">
			<div *ngSwitchCase="questionType.TRUE_FALSE">
				<app-true-false
					[(question)]="question"
				></app-true-false>
			</div>
			<div *ngSwitchDefault></div>
		</ng-container>
	</div>
	<div class="actions">
		<button mat-icon-button color="primary" (click)="onAddClick()">
			<mat-icon>check</mat-icon>
		</button>
		<button mat-icon-button color="warn" (click)="onDeleteClick()">
			<mat-icon>delete</mat-icon>
		</button>
	</div>
</div>
